<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Waterloo Carpool</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
    <link href="css/font.css" rel="stylesheet" type="text/css" />

    <!--bootstrap date-time picker-->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.css' rel='stylesheet'/>
    <link href="/css/bootstrap-datepicker.css" rel="stylesheet" />

    <!--data table-->
    <link href="/css/jquery.dataTable.min.css" rel="stylesheet" />
    <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <!--toggle-->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" />

    <!--slider-->
    <link rel="stylesheet" href="/css/slider.css" type="text/css" />

    <!--chosen select-->
    <link rel="stylesheet" href="/js/chosen/chosen.css" type="text/css" />

    <!--icon-->
    <link href="css/icon.css" rel="stylesheet" type="text/css" />
    <link href="css/icomoon.css" rel="stylesheet" />

    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" />

    <!--calendar-->
    <link href="css/bootstrap_calendar.css" rel="stylesheet" type="text/css" />

    <!--vector map-->
    <link rel="stylesheet" href="/js/jvectormap/jquery-jvectormap-1.2.2.css" type="text/css" />

    <!-- Custom CSS -->
    <!--<link href="css/scrolling-nav.css" rel="stylesheet" />-->
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation -->
<div th:fragment="navbar">
    <img class="img-responsive" src="/images/banner.png" alt="banner"/>

        <div class="container">
            <div class="nav">
                <ul class="slimmenu" id="slimmenu">
                    <li class="active"><a href="/userFront">Home</a>
                    </li>
                    <li><a>Find Post</a>
                        <ul>
                            <li><a th:href="@{/account/riderAccount}">Rider</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/account/driverAccount}">Driver</a></li>
                        </ul>
                    </li>
                    <li><a>Create New</a>
                        <ul>
                            <li><a th:href="@{/booking/riderCreate}">Rider</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/booking/driverCreate}">Driver</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Edit Trip</a></li>
                        </ul>
                    </li>

                    <li><a>Driver Pro</a>
                        <ul>
                            <li><a href="#">Travel Notes </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Schedule </a></li>
                        </ul>
                    </li>
                    <li class="pull-right"><a>Me</a>
                        <ul>
                            <li><a th:href="@{/user/profile}">Setting</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Booking</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
</div>

<div th:fragment="footer">
    <footer class="nb-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about">
                        <div class="social-media">
                            <ul class="list-inline">
                                <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-info-single">
                        <h2 class="title">Help Center</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> How to Pay</a></li>
                            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
                            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Sitemap</a></li>
                            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Delivery Info</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-info-single">
                        <h2 class="title">Customer information</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> About Us</a></li>
                            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
                            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Sell Your Items</a></li>
                            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> RSS</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-info-single">
                        <h2 class="title">Security and privacy</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Terms Of Use</a></li>
                            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
                            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Return / Refund Policy</a></li>
                            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Store Locations</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-info-single">
                        <h2 class="title">Payment</h2>
                        <p>Sample HTML page with Twitter's Bootstrap. Code example of Easy Sticky Footer using HTML, Javascript, jQuery, and CSS. This bootstrap tutorial covers all the major elements of responsive</p>

                    </div>
                </div>
            </div>
        </div>

        <section class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Copyright © 2018. Waterloo Carpool.</p>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </section>
    </footer>

</div>

<div th:fragment="body-bottom-scripts">
    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/jquery.easing.min.js"></script>

    <!--bootstrap date-time picker-->
    <script src='https://cdn.rawgit.com/ianchen0419/bootstrap-datetimepicker/master/js/bootstrap-datetimepicker.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>


    <!--bootbox-->
    <script src="/js/bootbox.min.js"></script>

    <!--data table-->
    <script src="/js/dataTables/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables/dataTables.bootstrap.min.js"></script>

    <!--toggle-->
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- slider -->
    <script src="/js/bootstrap-slider.js"></script>

    <!-- chosen select -->
    <script src="/js/chosen/chosen.jquery.min.js"></script>

    <!-- chart -->
    <script src="/js/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
    <script src="/js/charts/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/charts/flot/jquery.flot.min.js"></script>
    <script src="/js/charts/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/js/charts/flot/jquery.flot.spline.js"></script>
    <script src="/js/charts/flot/jquery.flot.pie.min.js"></script>
    <script src="/js/charts/flot/jquery.flot.resize.js"></script>
    <script src="/js/charts/flot/jquery.flot.grow.js"></script>
    <script src="/js/charts/flot/demo.js"></script>

    <!-- vector map -->
    <script src="/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/js/jvectormap/jquery-jvectormap-us-aea-en.js"></script>
    <script src="/js/jvectormap/demo.js"></script>

    <script src="/js/calendar/bootstrap_calendar.js"></script>
    <script src="/js/calendar/demo.js"></script>

    <script src="/js/sortable/jquery.sortable.js"></script>

    <!-- parsley -->
    <script src="/js/parsley/parsley.min.js"></script>
    <script src="/js/parsley/parsley.extend.js"></script>

    <script src="/js/slimmenu.js"></script>

    <script src="/js/nicescroll.js"></script>
    <script src="/js/dropit.js"></script>
    <script src="/js/ionrangeslider.js"></script>
    <script src="/js/icheck.js"></script>
    <script src="/js/fotorama.js"></script>
    <script src="/js/typeahead.js"></script>
    <script src="/js/card-payment.js"></script>
    <script src="/js/magnific.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/fitvids.js"></script>
    <script src="/js/tweet.js"></script>
    <script src="/js/countdown.js"></script>
    <script src="/js/gridrotator.js"></script>

    <!--main app plugin js-->
    <script src="/js/app.plugin.js"></script>

    <!--main js-->
    <script src="/js/main.js"></script>

    <!--Google AutoComplete-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy3AhiOW3Z4C3GZptz5bMLWoXsL6KjyAM&amp;libraries=places&amp;callback=initAutocomplete"></script>

</div>

</body>
</html>