<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Waterloo Carpool</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
    <link href="css/font.css" rel="stylesheet" type="text/css" />

    <!--bootstrap date-time picker-->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.css' rel='stylesheet'/>

    <!--data table-->
    <link href="/css/jquery.dataTable.min.css" rel="stylesheet" />
    <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <!--toggle-->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" />

    <!--slider-->
    <link rel="stylesheet" href="/css/slider.css" type="text/css" />

    <!--icon-->
    <link href="css/icon.css" rel="stylesheet" type="text/css" />

    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" />

    <!--calendar-->
    <link href="css/bootstrap_calendar.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <!--<link href="css/scrolling-nav.css" rel="stylesheet" />-->
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation -->
<div th:fragment="navbar">
    <img class="img-responsive" src="/images/banner.png" alt="banner"/>

    <nav class="navbar navbar-default " role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" th:href="@{/userFront}">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse  navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Postings <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/account/riderAccount}">Rider</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/account/driverAccount}">Driver</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create Ride <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/booking/riderCreate}">Rider Request</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/booking/driverCreate}">Driver Post</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/booking/edit}">Edit Ride</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Schedule <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/schedule/ride}">View My Ride Schedule </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/schedule/drive}">View My Drive Schedule </a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Me <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/user/profile}">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/logout}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
</div>

<div th:fragment="body-bottom-scripts">
    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/jquery.easing.min.js"></script>

    <!--bootstrap date-time picker-->
    <script src='https://cdn.rawgit.com/ianchen0419/bootstrap-datetimepicker/master/js/bootstrap-datetimepicker.js'></script>

    <!--bootbox-->
    <script src="/js/bootbox.min.js"></script>

    <!--data table-->
    <script src="/js/dataTables/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables/dataTables.bootstrap.min.js"></script>

    <!--toggle-->
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- slider -->
    <script src="/js/bootstrap-slider.js"></script>

    <script src="/js/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
    <script src="/js/charts/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/charts/flot/jquery.flot.min.js"></script>
    <script src="/js/charts/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/js/charts/flot/jquery.flot.spline.js"></script>
    <script src="/js/charts/flot/jquery.flot.pie.min.js"></script>
    <script src="/js/charts/flot/jquery.flot.resize.js"></script>
    <script src="/js/charts/flot/jquery.flot.grow.js"></script>
    <script src="/js/charts/flot/demo.js"></script>

    <script src="/js/calendar/bootstrap_calendar.js"></script>
    <script src="/js/calendar/demo.js"></script>

    <script src="/js/sortable/jquery.sortable.js"></script>

    <!-- parsley -->
    <script src="/js/parsley/parsley.min.js"></script>
    <script src="/js/parsley/parsley.extend.js"></script>

    <!--main app plugin js-->
    <script src="/js/app.plugin.js"></script>

    <!--main js-->
    <script src="/js/main.js"></script>

    <!--Google AutoComplete-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy3AhiOW3Z4C3GZptz5bMLWoXsL6KjyAM&amp;libraries=places&amp;callback=initAutocomplete"></script>

</div>

</body>
</html>