<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<style>
    .booking-item-airline-logo > p {
        margin-bottom: 0;
        font-size: 12px;
        margin-top: 5px;
        line-height: 1.3em;
    }
    .booking-item-airline-logo > img {
        width: 40px;
    }
</style>
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <br/>
        <div class="col-md-3">
            <form class="booking-item-dates-change mb30">
                <div class="form-group form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
                    <label>From</label>
                    <input class="typeahead form-control" placeholder="Departure" type="text" />
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
                    <label>To</label>
                    <input class="typeahead form-control" placeholder="Arrival" type="text" />
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                    <label>Departing</label>
                    <input class="date-pick form-control" data-date-format="MM d, D" type="text" />
                </div>
                <div class="form-group form-group-select-plus">
                    <label>Passengers</label>
                    <div class="cols-sm-5">
                        <input type="text" class="slider slider-horizontal form-control" value=""
                               data-slider-min="1" data-slider-max="7" data-slider-step="1" data-slider-value="1" data-slider-orientation="horizontal"
                               name="passengerNumber" id="passengerNumber"/>
                    </div>
                    <select class="form-control hidden">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option selected="selected">5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Upadte Search" />
            </form>
            <br/>
            <br/>
        </div>
        <div class="col-md-9">
            <!--<div class="nav-drop booking-sort">-->
                <!--<h5 class="booking-sort-title"><a href="#">Sort: Sort: Price (low to high)<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>-->
                <!--<ul class="nav-drop-menu">-->
                    <!--<li><a href="#">Price (high to low)</a>-->
                    <!--</li>-->
                    <!--<li><a href="#">Duration</a>-->
                    <!--</li>-->
                    <!--<li><a href="#">Stops</a>-->
                    <!--</li>-->
                    <!--<li><a href="#">Arrival</a>-->
                    <!--</li>-->
                    <!--<li><a href="#">Departure</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <ul class="booking-list">
                <li>
                    <div class="booking-item-container">
                        <div class="booking-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="booking-item-airline-logo">
                                        <img src="/images/american-airlines.png" />
                                        <p>American Airlines</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-departure">
                                            <h4>Sun, Mar 22</h4>
                                            <p class="booking-item-destination">London, England, United Kingdom (LHR)</p>
                                        </div>
                                        <div class="booking-item-arrival">
                                            <h4>Sat, Mar 23</h4>
                                            <p class="booking-item-destination">New York, NY, United States (JFK)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h5>22h 50m</h5>
                                    <p>non-stop</p>
                                </div>
                                <div class="col-md-3"><span class="booking-item-price">$495</span><span>/person</span>
                                    <p class="booking-item-flight-class">Class: Economy</p><a class="btn btn-primary" href="#">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="booking-item-details">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Flight Details</p>
                                    <h5 class="list-title">London (LHR) to Charlotte (CLT)</h5>
                                    <ul class="list">
                                        <li>US Airways 731</li>
                                        <li>Economy / Coach Class ( M), AIRBUS INDUSTRIE A330-300</li>
                                        <li>Depart 09:55 Arrive 15:10</li>
                                        <li>Duration: 9h 15m</li>
                                    </ul>
                                    <h5>Stopover: Charlotte (CLT) 7h 1m</h5>
                                    <h5 class="list-title">Charlotte (CLT) to New York (JFK)</h5>
                                    <ul class="list">
                                        <li>US Airways 1873</li>
                                        <li>Economy / Coach Class ( M), Airbus A321</li>
                                        <li>Depart 22:11 Arrive 23:53</li>
                                        <li>Duration: 1h 42m</li>
                                    </ul>
                                    <p>Total trip time: 17h 58m</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item-container">
                        <div class="booking-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="booking-item-airline-logo">
                                        <img src="/images/american-airlines.png" alt="Image Alternative text" title="Image Title" />
                                        <p>American Airlines</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-departure">
                                            <h4>Sun, Mar 22</h4>
                                            <p class="booking-item-destination">London, England, United Kingdom (LHR)</p>
                                        </div>
                                        <div class="booking-item-arrival">
                                            <h4>Sat, Mar 23</h4>
                                            <p class="booking-item-destination">New York, NY, United States (JFK)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h5>22h 50m</h5>
                                    <p>non-stop</p>
                                </div>
                                <div class="col-md-3"><span class="booking-item-price">$218</span><span>/person</span>
                                    <p class="booking-item-flight-class">Class: Business</p><a class="btn btn-primary" href="#">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="booking-item-details">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Flight Details</p>
                                    <h5 class="list-title">London (LHR) to Charlotte (CLT)</h5>
                                    <ul class="list">
                                        <li>US Airways 731</li>
                                        <li>Economy / Coach Class ( M), AIRBUS INDUSTRIE A330-300</li>
                                        <li>Depart 09:55 Arrive 15:10</li>
                                        <li>Duration: 9h 15m</li>
                                    </ul>
                                    <h5>Stopover: Charlotte (CLT) 7h 1m</h5>
                                    <h5 class="list-title">Charlotte (CLT) to New York (JFK)</h5>
                                    <ul class="list">
                                        <li>US Airways 1873</li>
                                        <li>Economy / Coach Class ( M), Airbus A321</li>
                                        <li>Depart 22:11 Arrive 23:53</li>
                                        <li>Duration: 1h 42m</li>
                                    </ul>
                                    <p>Total trip time: 17h 58m</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item-container">
                        <div class="booking-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="booking-item-airline-logo">
                                        <img src="/images/american-airlines.png" alt="Image Alternative text" title="Image Title" />
                                        <p>American Airlines</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-departure">
                                            <h4>Sun, Mar 22</h4>
                                            <p class="booking-item-destination">London, England, United Kingdom (LHR)</p>
                                        </div>
                                        <div class="booking-item-arrival">
                                            <h4>Sat, Mar 23</h4>
                                            <p class="booking-item-destination">New York, NY, United States (JFK)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h5>22h 50m</h5>
                                    <p>1 stop</p>
                                </div>
                                <div class="col-md-3"><span class="booking-item-price">$276</span><span>/person</span>
                                    <p class="booking-item-flight-class">Class: First</p><a class="btn btn-primary" href="#">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="booking-item-details">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Flight Details</p>
                                    <h5 class="list-title">London (LHR) to Charlotte (CLT)</h5>
                                    <ul class="list">
                                        <li>US Airways 731</li>
                                        <li>Economy / Coach Class ( M), AIRBUS INDUSTRIE A330-300</li>
                                        <li>Depart 09:55 Arrive 15:10</li>
                                        <li>Duration: 9h 15m</li>
                                    </ul>
                                    <h5>Stopover: Charlotte (CLT) 7h 1m</h5>
                                    <h5 class="list-title">Charlotte (CLT) to New York (JFK)</h5>
                                    <ul class="list">
                                        <li>US Airways 1873</li>
                                        <li>Economy / Coach Class ( M), Airbus A321</li>
                                        <li>Depart 22:11 Arrive 23:53</li>
                                        <li>Duration: 1h 42m</li>
                                    </ul>
                                    <p>Total trip time: 17h 58m</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item-container">
                        <div class="booking-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="booking-item-airline-logo">
                                        <img src="/images/airfrance.jpg" alt="Image Alternative text" title="Image Title" />
                                        <p>Airfrance</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-departure">
                                            <h4>Sun, Mar 22</h4>
                                            <p class="booking-item-destination">London, England, United Kingdom (LHR)</p>
                                        </div>
                                        <div class="booking-item-arrival">
                                            <h4>Sat, Mar 23</h4>
                                            <p class="booking-item-destination">New York, NY, United States (JFK)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h5>22h 50m</h5>
                                    <p>1 stop</p>
                                </div>
                                <div class="col-md-3"><span class="booking-item-price">$169</span><span>/person</span>
                                    <p class="booking-item-flight-class">Class: Business</p><a class="btn btn-primary" href="#">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="booking-item-details">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Flight Details</p>
                                    <h5 class="list-title">London (LHR) to Charlotte (CLT)</h5>
                                    <ul class="list">
                                        <li>US Airways 731</li>
                                        <li>Economy / Coach Class ( M), AIRBUS INDUSTRIE A330-300</li>
                                        <li>Depart 09:55 Arrive 15:10</li>
                                        <li>Duration: 9h 15m</li>
                                    </ul>
                                    <h5>Stopover: Charlotte (CLT) 7h 1m</h5>
                                    <h5 class="list-title">Charlotte (CLT) to New York (JFK)</h5>
                                    <ul class="list">
                                        <li>US Airways 1873</li>
                                        <li>Economy / Coach Class ( M), Airbus A321</li>
                                        <li>Depart 22:11 Arrive 23:53</li>
                                        <li>Duration: 1h 42m</li>
                                    </ul>
                                    <p>Total trip time: 17h 58m</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item-container">
                        <div class="booking-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="booking-item-airline-logo">
                                        <img src="/images/delta.jpg" alt="Image Alternative text" title="Image Title" />
                                        <p>Delta</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-departure">
                                            <h4>Sun, Mar 22</h4>
                                            <p class="booking-item-destination">London, England, United Kingdom (LHR)</p>
                                        </div>
                                        <div class="booking-item-arrival">
                                            <h4>Sat, Mar 23</h4>
                                            <p class="booking-item-destination">New York, NY, United States (JFK)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h5>22h 50m</h5>
                                    <p>1 stop</p>
                                </div>
                                <div class="col-md-3"><span class="booking-item-price">$369</span><span>/person</span>
                                    <p class="booking-item-flight-class">Class: First</p><a class="btn btn-primary" href="#">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="booking-item-details">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Flight Details</p>
                                    <h5 class="list-title">London (LHR) to Charlotte (CLT)</h5>
                                    <ul class="list">
                                        <li>US Airways 731</li>
                                        <li>Economy / Coach Class ( M), AIRBUS INDUSTRIE A330-300</li>
                                        <li>Depart 09:55 Arrive 15:10</li>
                                        <li>Duration: 9h 15m</li>
                                    </ul>
                                    <h5>Stopover: Charlotte (CLT) 7h 1m</h5>
                                    <h5 class="list-title">Charlotte (CLT) to New York (JFK)</h5>
                                    <ul class="list">
                                        <li>US Airways 1873</li>
                                        <li>Economy / Coach Class ( M), Airbus A321</li>
                                        <li>Depart 22:11 Arrive 23:53</li>
                                        <li>Duration: 1h 42m</li>
                                    </ul>
                                    <p>Total trip time: 17h 58m</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item-container">
                        <div class="booking-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="booking-item-airline-logo">
                                        <img src="/images/airfrance.jpg" alt="Image Alternative text" title="Image Title" />
                                        <p>Airfrance</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-departure">
                                            <h4>Sun, Mar 22</h4>
                                            <p class="booking-item-destination">London, England, United Kingdom (LHR)</p>
                                        </div>
                                        <div class="booking-item-arrival">
                                            <h4>Sat, Mar 23</h4>
                                            <p class="booking-item-destination">New York, NY, United States (JFK)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h5>22h 50m</h5>
                                    <p>2 stops</p>
                                </div>
                                <div class="col-md-3"><span class="booking-item-price">$205</span><span>/person</span>
                                    <p class="booking-item-flight-class">Class: Business</p><a class="btn btn-primary" href="#">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="booking-item-details">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Flight Details</p>
                                    <h5 class="list-title">London (LHR) to Charlotte (CLT)</h5>
                                    <ul class="list">
                                        <li>US Airways 731</li>
                                        <li>Economy / Coach Class ( M), AIRBUS INDUSTRIE A330-300</li>
                                        <li>Depart 09:55 Arrive 15:10</li>
                                        <li>Duration: 9h 15m</li>
                                    </ul>
                                    <h5>Stopover: Charlotte (CLT) 7h 1m</h5>
                                    <h5 class="list-title">Charlotte (CLT) to New York (JFK)</h5>
                                    <ul class="list">
                                        <li>US Airways 1873</li>
                                        <li>Economy / Coach Class ( M), Airbus A321</li>
                                        <li>Depart 22:11 Arrive 23:53</li>
                                        <li>Duration: 1h 42m</li>
                                    </ul>
                                    <p>Total trip time: 17h 58m</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item-container">
                        <div class="booking-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="booking-item-airline-logo">
                                        <img src="/images/lufthansa.jpg" alt="Image Alternative text" title="Image Title" />
                                        <p>Lufthansa</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-departure">
                                            <h4>Sun, Mar 22</h4>
                                            <p class="booking-item-destination">London, England, United Kingdom (LHR)</p>
                                        </div>
                                        <div class="booking-item-arrival">
                                            <h4>Sat, Mar 23</h4>
                                            <p class="booking-item-destination">New York, NY, United States (JFK)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h5>22h 50m</h5>
                                    <p>2 stops</p>
                                </div>
                                <div class="col-md-3"><span class="booking-item-price">$150</span><span>/person</span>
                                    <p class="booking-item-flight-class">Class: Economy</p><a class="btn btn-primary" href="#">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="booking-item-details">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Flight Details</p>
                                    <h5 class="list-title">London (LHR) to Charlotte (CLT)</h5>
                                    <ul class="list">
                                        <li>US Airways 731</li>
                                        <li>Economy / Coach Class ( M), AIRBUS INDUSTRIE A330-300</li>
                                        <li>Depart 09:55 Arrive 15:10</li>
                                        <li>Duration: 9h 15m</li>
                                    </ul>
                                    <h5>Stopover: Charlotte (CLT) 7h 1m</h5>
                                    <h5 class="list-title">Charlotte (CLT) to New York (JFK)</h5>
                                    <ul class="list">
                                        <li>US Airways 1873</li>
                                        <li>Economy / Coach Class ( M), Airbus A321</li>
                                        <li>Depart 22:11 Arrive 23:53</li>
                                        <li>Duration: 1h 42m</li>
                                    </ul>
                                    <p>Total trip time: 17h 58m</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item-container">
                        <div class="booking-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="booking-item-airline-logo">
                                        <img src="/images/lufthansa.jpg" alt="Image Alternative text" title="Image Title" />
                                        <p>Lufthansa</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-departure">
                                            <h4>Sun, Mar 22</h4>
                                            <p class="booking-item-destination">London, England, United Kingdom (LHR)</p>
                                        </div>
                                        <div class="booking-item-arrival">
                                            <h4>Sat, Mar 23</h4>
                                            <p class="booking-item-destination">New York, NY, United States (JFK)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h5>22h 50m</h5>
                                    <p>non-stop</p>
                                </div>
                                <div class="col-md-3"><span class="booking-item-price">$473</span><span>/person</span>
                                    <p class="booking-item-flight-class">Class: Business</p><a class="btn btn-primary" href="#">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="booking-item-details">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Flight Details</p>
                                    <h5 class="list-title">London (LHR) to Charlotte (CLT)</h5>
                                    <ul class="list">
                                        <li>US Airways 731</li>
                                        <li>Economy / Coach Class ( M), AIRBUS INDUSTRIE A330-300</li>
                                        <li>Depart 09:55 Arrive 15:10</li>
                                        <li>Duration: 9h 15m</li>
                                    </ul>
                                    <h5>Stopover: Charlotte (CLT) 7h 1m</h5>
                                    <h5 class="list-title">Charlotte (CLT) to New York (JFK)</h5>
                                    <ul class="list">
                                        <li>US Airways 1873</li>
                                        <li>Economy / Coach Class ( M), Airbus A321</li>
                                        <li>Depart 22:11 Arrive 23:53</li>
                                        <li>Duration: 1h 42m</li>
                                    </ul>
                                    <p>Total trip time: 17h 58m</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item-container">
                        <div class="booking-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="booking-item-airline-logo">
                                        <img src="/images/lufthansa.jpg" alt="Image Alternative text" title="Image Title" />
                                        <p>Lufthansa</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-departure">
                                            <h4>Sun, Mar 22</h4>
                                            <p class="booking-item-destination">London, England, United Kingdom (LHR)</p>
                                        </div>
                                        <div class="booking-item-arrival">
                                            <h4>Sat, Mar 23</h4>
                                            <p class="booking-item-destination">New York, NY, United States (JFK)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h5>22h 50m</h5>
                                    <p>2 stops</p>
                                </div>
                                <div class="col-md-3"><span class="booking-item-price">$303</span><span>/person</span>
                                    <p class="booking-item-flight-class">Class: Economy</p><a class="btn btn-primary" href="#">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="booking-item-details">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Flight Details</p>
                                    <h5 class="list-title">London (LHR) to Charlotte (CLT)</h5>
                                    <ul class="list">
                                        <li>US Airways 731</li>
                                        <li>Economy / Coach Class ( M), AIRBUS INDUSTRIE A330-300</li>
                                        <li>Depart 09:55 Arrive 15:10</li>
                                        <li>Duration: 9h 15m</li>
                                    </ul>
                                    <h5>Stopover: Charlotte (CLT) 7h 1m</h5>
                                    <h5 class="list-title">Charlotte (CLT) to New York (JFK)</h5>
                                    <ul class="list">
                                        <li>US Airways 1873</li>
                                        <li>Economy / Coach Class ( M), Airbus A321</li>
                                        <li>Depart 22:11 Arrive 23:53</li>
                                        <li>Duration: 1h 42m</li>
                                    </ul>
                                    <p>Total trip time: 17h 58m</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="booking-item-container">
                        <div class="booking-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="booking-item-airline-logo">
                                        <img src="/images/aircanada.jpg" alt="Image Alternative text" title="Image Title" />
                                        <p>Air Canada</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-departure">
                                            <h4>Sun, Mar 22</h4>
                                            <p class="booking-item-destination">London, England, United Kingdom (LHR)</p>
                                        </div>
                                        <div class="booking-item-arrival">
                                            <h4>Sat, Mar 23</h4>
                                            <p class="booking-item-destination">New York, NY, United States (JFK)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h5>22h 50m</h5>
                                    <p>2 stops</p>
                                </div>
                                <div class="col-md-3"><span class="booking-item-price">$328</span><span>/person</span>
                                    <p class="booking-item-flight-class">Class: Economy</p><a class="btn btn-primary" href="#">Select</a>
                                </div>
                            </div>
                        </div>
                        <div class="booking-item-details">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Flight Details</p>
                                    <h5 class="list-title">London (LHR) to Charlotte (CLT)</h5>
                                    <ul class="list">
                                        <li>US Airways 731</li>
                                        <li>Economy / Coach Class ( M), AIRBUS INDUSTRIE A330-300</li>
                                        <li>Depart 09:55 Arrive 15:10</li>
                                        <li>Duration: 9h 15m</li>
                                    </ul>
                                    <h5>Stopover: Charlotte (CLT) 7h 1m</h5>
                                    <h5 class="list-title">Charlotte (CLT) to New York (JFK)</h5>
                                    <ul class="list">
                                        <li>US Airways 1873</li>
                                        <li>Economy / Coach Class ( M), Airbus A321</li>
                                        <li>Depart 22:11 Arrive 23:53</li>
                                        <li>Duration: 1h 42m</li>
                                    </ul>
                                    <p>Total trip time: 17h 58m</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <p class="text-right">Not what you're looking for? <a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">Try your search again</a>
            </p>
        </div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"/>
<script>
    $('.booking-item-container').children('.booking-item').click(function(event) {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
            $(this).parent().removeClass('active');
        } else {
            $(this).addClass('active');
            $(this).parent().addClass('active');
            $(this).delay(1500).queue(function() {
                $(this).addClass('viewed')
            });
        }
    });
</script>
</body>
</html>