<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<style>
    html {
        background-color: #f3f4f5;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <h3>Create new trip</h3>
            <form th:action="@{/booking/riderCreate}" method="post" id="bookingForm">
                <input type="hidden" name="id" th:value="${bookingReference.bookingReferenceId}"/>

                <div class="form-group">
                    <label for="dateString">Pick a Date and Time:</label>
                    <div class="input-append date form_datetime input-group" data-view="hour">
                        <input class="form-control" type="text" value="" readonly="readonly"
                               th:value="${dateString}" name="dateString"
                               id="dateString" required="required"/>
                        <span class="input-group-addon"><i class="fa fa-times" aria-hidden="true"></i></span>
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>

                <div class="form-group autocomplete">
                    <label for="autocomplete">Pick your departure location:</label>
                    <input type="text" class="form-control" th:value="${bookingReference.departureLocation}" id="autocomplete"
                           name="departureLocation" placeholder="Enter your address" onFocus="geolocate()"/>
                </div>

                <div class="form-group autocomplete">
                    <label for="autocomplete2">Pick your arrival location:</label>
                    <input type="text" class="form-control" th:value="${bookingReference.arrivalLocation}" id="autocomplete2"
                           name="arrivalLocation" placeholder="Enter your address" onFocus="geolocate()"/>
                </div>

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="passengerNumber">Passenger number:</label>
                    <div class="cols-sm-5">
                        <input type="text" class="slider slider-horizontal form-control" value=""
                               data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="5" data-slider-orientation="horizontal"
                               th:value="${bookingReference.passengerNumber}" name="passengerNumber" id="passengerNumber"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="passengerNumber">Choose your payment method:</label>
                    <select class="form-control" th:value="${bookingReference.paymentMethod}" name="paymentMethod" id="paymentMethod">
                        <option disabled="disabled" selected="selected" > -- select the method --</option>
                        <option>Cash</option>
                        <option>e-Transfer</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="notes">Notes:</label>
                    <textarea th:value="${bookingReference.notes}" class="form-control" name="notes" id="notes" placeholder="Notes" ></textarea>
                </div>


                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>

                <a class="btn btn-primary" id="submitBooking">Submit Booking</a>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
    <br/>
</div>

<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>