<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container">
    <div class="row main">
        <div class="col-md-6">
            <h2 class="title">Booking Info</h2>
            <hr/>
            <form th:action="@{/booking/riderBooking/cancel?bookingReferenceId=}+${bookingReference.bookingReferenceId}" method="post" id="bookingForm">
                <input type="hidden" name="id" th:value="${bookingReference.bookingReferenceId}"/>
                <div class="form-group">
                    <label for="departureLocation">Departure</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${bookingReference.departureLocation}" id="departureLocation"
                                   name="departureLocation" roleId="departureLocation" readonly="readonly"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="arrivalLocation" class="cols-sm-2 control-label">Arrival</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${bookingReference.arrivalLocation}" id="arrivalLocation"
                                   name="arrivalLocation" roleId="arrivalLocation" readonly="readonly"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="cols-sm-2 control-label">Travel Date</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${bookingReference.date}" id="date"
                                   name="date" roleId="date" readonly="readonly"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="passengerNumber" class="cols-sm-2 control-label">Passenger</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${bookingReference.passengerNumber}" id="passengerNumber"
                                   name="passengerNumber" roleId="passengerNumber" readonly="readonly"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="paymentMethod" class="cols-sm-2 control-label">Payment Method</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-credit-card fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${bookingReference.paymentMethod}" id="paymentMethod"
                                   name="paymentMethod" roleId="paymentMethod" readonly="readonly"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="notes" class="cols-sm-2 control-label">Notes</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bookmark fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${bookingReference.notes}" id="notes" placeholder="none"
                                   name="notes" roleId="notes" readonly="readonly"/>
                        </div>
                    </div>
                </div>

                <h2 class="title">Contact Info</h2>
                <hr/>

                <div class="form-group">
                    <label for="phone" class="cols-sm-2 control-label">Phone</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${user.phone}" id="phone"
                                   name="phone" roleId="phone" readonly="readonly"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${user.email}" id="email"
                                   name="email" roleId="email" readonly="readonly"/>
                        </div>
                    </div>
                </div>

                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>

                <br/>
                <div class="form-group ">
                    <a class="btn btn-danger btn-block" id="submitBooking">Cancel Booking</a>
                </div>

            </form>

        </div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>