<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<style>
    .booking-item-airline-logo > p {
        margin-bottom: 0;
        font-size: 12px;
        margin-top: 5px;
        line-height: 1.3em;
    }
    .booking-item-airline-logo > img {
        width: 40px;
    }
</style>
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">

    <div class="gap"/>

    <div class="row">
        <div class="col-md-3">
            <form class="booking-item-dates-change mb30" th:action="@{/account/rider-request/search-passenger}" method="get">
                <div class="form-group form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
                    <label>Pick-up Location</label>
                    <input class="typeahead form-control" placeholder="City, Province, Country" type="text" name="departure" required="required"/>
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
                    <label>Drop-off Location</label>
                    <input class="typeahead form-control" placeholder="City, Province, Country" type="text" name="arrival" required="required"/>
                </div>
                <div class="form-group form-group-icon-left" id="sandbox-container"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                    <label>Travel Date</label>
                    <input type="text" class="form-control" name="date"/>

                </div>
                <div class="form-group form-group-select-plus">
                    <label>Passengers</label>
                    <div class="cols-sm-5">
                        <input type="text" class="slider slider-horizontal form-control" value=""
                               data-slider-min="1" data-slider-max="7" data-slider-step="1" data-slider-value="1" data-slider-orientation="horizontal"
                               name="passengerNumber" id="passengerNumber"/>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Upadte Search" />
            </form>
            <br/>
            <br/>
        </div>
        <div class="col-md-9">
            <h3>We’re sorry, we found 0 results.</h3>
            <!--</p>-->
        </div>
    </div>


    <div class="gap gap-big"></div>
</div>

<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts"/>
<script>
    $('.booking-item-container').children('.booking-item').click(function(event) {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
            $(this).parent().removeClass('active');
        } else {
            $(this).addClass('active');
            $(this).parent().addClass('active');
            $(this).delay(1500).queue(function() {
                $(this).addClass('viewed')
            });
        }
    });
</script>
</body>
</html>