<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<style>
    html {
        background-color: #f3f4f5;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
    <!-- /.row -->
    <div class="row m-b">

        <div class="bg-light">
            <div class="col-md-6">
                <section class="panel panel-default">
                    <header class="panel-heading bg-light no-border">
                        <div class="clearfix">
                            <a href="#" class="pull-left thumb-md avatar b-3x m-r">
                                <img src="images/a1.png"/>
                            </a>
                            <div class="clear">
                                <div class="h3 m-t-xs m-b-xs">
                                    h57song
                                </div>
                                <small class="text-muted">Welcome</small>
                            </div>
                        </div>
                    </header>
                    <div class="list-group no-radius alt">
                        <a class="list-group-item" href="#">
                            <span class="badge bg-success">25</span>
                            <i class="fa fa-comment icon-muted"></i>
                            Messages
                        </a>
                        <a class="list-group-item" href="#">
                            <span class="badge bg-info">16</span>
                            <i class="fa fa-envelope icon-muted"></i>
                            Inbox
                        </a>
                    </div>
                </section>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel b-a">
                <div class="row m-n">
                    <div class="col-md-6 b-b b-r">
                        <a th:href="@{/account/riderAccount}" class="block padder-v hover">
                              <span class="i-s i-s-2x pull-left m-r-sm">
                                <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
                                <i class="i i-users2 i-sm text-white"></i>
                              </span>
                            <span class="clear">
                                <span class="h3 block m-t-xs text-success">2,000</span>
                                <small class="text-muted text-u-c">Rider Posting</small>
                              </span>
                        </a>
                    </div>
                    <div class="col-md-6 b-b">
                        <a th:href="@{/booking/riderCreate}" class="block padder-v hover">
                              <span class="i-s i-s-2x pull-left m-r-sm">
                                <i class="i i-hexagon2 i-s-base text-danger hover-rotate"></i>
                                <i class="i i-plus2 i-1x text-white"></i>
                              </span>
                            <span class="clear">
                                <span class="h3 block m-t-xs text-danger">Trip</span>
                                <small class="text-muted text-u-c">As Rider</small>
                              </span>
                        </a>
                    </div>
                    <div class="col-md-6 b-b b-r">
                        <a th:href="@{/account/driverAccount}" class="block padder-v hover">
                              <span class="i-s i-s-2x pull-left m-r-sm">
                                <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
                                <i class="i i-location i-sm text-white"></i>
                              </span>
                            <span class="clear">
                                <span class="h3 block m-t-xs text-info">1,800</span>
                                <small class="text-muted text-u-c">Driver Posting</small>
                              </span>
                        </a>
                    </div>
                    <div class="col-md-6 b-b">
                        <a th:href="@{/booking/driverCreate}" class="block padder-v hover">
                              <span class="i-s i-s-2x pull-left m-r-sm">
                                <i class="i i-hexagon2 i-s-base text-primary hover-rotate"></i>
                                <i class="i i-plus2 i-sm text-white"></i>
                              </span>
                            <span class="clear">
                                <span class="h3 block m-t-xs text-primary">Drive</span>
                                <small class="text-muted text-u-c">As Driver</small>
                              </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- /.row -->
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <section class="panel b-a">
                <div class="panel-heading no-border bg-primary lt">
                    <span class="pull-right badge dk m-t-sm">36</span>
                    <a href="#" class="h4 text-lt m-t-sm m-b-sm block font-bold">Posting Statistics</a>
                </div>
                <div class="panel-body">
                    <div id="b-c" class="text-center">
                        <div class="easypiechart inline m-b m-t" data-percent="12" data-line-width="10" data-bar-Color="#afc5de" data-track-Color="#f2f4f8" data-scale-Color="false" data-size="150" data-line-cap='butt' data-animate="2000">
                            <div>
                                <span class="h1 m-l-sm step font-bold"></span>%
                                <div class="text text-xs text-muted">completed</div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center m-t">
                        <div class="col-xs-6">
                            <p>Pending</p>
                            <h3 class="font-thin">12</h3>
                        </div>
                        <div class="col-xs-6">
                            <p>In-Progress</p>
                            <h3 class="font-thin">20</h3>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-sm-4 col-md-4">
            <section class="panel b-a">
                <div class="panel-heading b-b">
                    <span class="badge bg-warning pull-right">10</span>
                    <div class="font-bold">New Posts</div>
                </div>
                <ul class="list-group list-group-lg no-bg auto">
                    <a href="#" class="list-group-item clearfix">
                        <span class="pull-left thumb-sm avatar m-r">
                            <img src="images/a4.png" alt="..."/>
                            <i class="rider b-white bottom"></i>
                        </span>
                        <span class="clear">
                            <span>Chris Fox</span>
                            <small class="text-muted clear text-ellipsis">Toronto to Waterloo 2017-03-22 12:00</small>
                        </span>
                    </a>
                    <a href="#" class="list-group-item clearfix">
                        <span class="pull-left thumb-sm avatar m-r">
                            <img src="images/a5.png" alt="..."/>
                            <i class="rider b-white bottom"></i>
                        </span>
                        <span class="clear">
                            <span>Amanda Conlan</span>
                            <small class="text-muted clear text-ellipsis">Toronto to Markham 2017-03-22 12:00</small>
                        </span>
                    </a>
                    <a href="#" class="list-group-item clearfix">
                        <span class="pull-left thumb-sm avatar m-r">
                            <img src="images/a6.png" alt="..."/>
                            <i class="driver b-white bottom"></i>
                        </span>
                        <span class="clear">
                            <span>Dan Doorack</span>
                            <small class="text-muted clear text-ellipsis">Toronto to North York 2017-03-22 12:00</small>
                        </span>
                    </a>
                    <a href="#" class="list-group-item clearfix">
                        <span class="pull-left thumb-sm avatar m-r">
                            <img src="images/a7.png" alt="..."/>
                            <i class="driver b-white bottom"></i>
                        </span>
                        <span class="clear">
                            <span>Lauren Taylor</span>
                            <small class="text-muted clear text-ellipsis">Waterloo to Kingston 2017-03-22 12:00</small>
                        </span>
                    </a>
                    <footer class="footer hidden-xs no-padder text-center-nav-xs">
                        <a href="modal.lockme.html" data-toggle="ajaxModal" class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs">
                            <i class="i i-logout"></i>
                        </a>
                        <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs">
                            <i class="i i-circleleft text"></i>
                            <i class="i i-circleright text-active"></i>
                        </a>
                    </footer>
                </ul>
            </section>
        </div>

        <div class="col-md-4">
            <section class="panel b-a">
                <div class="panel-heading b-b">
                    <div class="font-bold">Waterloo Weather</div>
                </div>
                <a class="weatherwidget-io" href="https://forecast7.com/en/43d46n80d52/waterloo/" data-font="Arial" data-days="5" data-theme="weather_one" >WATERLOO ON</a>
            </section>
                <!-- .crousel slide -->
                <section class="panel panel-default">
                    <div class="carousel slide auto panel-body" id="c-slide">
                        <ol class="carousel-indicators out">
                            <li data-target="#c-slide" data-slide-to="0" class="active"></li>
                            <li data-target="#c-slide" data-slide-to="1" class=""></li>
                            <li data-target="#c-slide" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <p class="text-center">
                                    <em class="h4 text-mute">Waterloo Carpool</em><br/>
                                    <small class="text-muted">Copyright © 2018</small>
                                </p>
                            </div>
                            <div class="item">
                                <p class="text-center">
                                    <em class="h4 text-mute">Beta Version</em><br/>
                                    <small class="text-muted">1.0.0</small>
                                </p>
                            </div>
                            <div class="item">
                                <p class="text-center">
                                    <em class="h4 text-mute">Powered by</em><br/>
                                    <small class="text-muted">Spring Framework</small>
                                </p>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#c-slide" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#c-slide" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </section>
                <!-- / .carousel slide -->
        </div>
    </div>
    <!-- /.row -->
</div>


<div th:replace="common/header :: body-bottom-scripts"/>
<script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
</body>
</html>